page-login {

    ion-content {
        background-image: url('../assets/vendor/bgScreen.png');
        background-size: cover;
    }
    .logo {
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }
    form {
        border: 0px solid #eaeaea;
        border-radius: 10px;
        .label {
            padding: 0;
            margin-bottom: 5px;
        }
        .row {
            position: relative;
        }
        ion-item {
            &::first-of-type {
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }
        }
        .item-inner {
            padding: 5px 20px;
        }
        .error, .success {
            position: absolute;
            right: 10px;
            top: 20px;
            padding: 0;
        }
        .sign_in_button {
            margin-top: 0;
            margin-bottom: 0;
            height: 48px;
            background: linear-gradient(to right, rgb(244,140,83) , rgb(232,58,91));
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}