<ion-content padding>
  <ion-row justify-content-center>
    <ion-col col-6>
      <ion-img class="logo" src="assets/vendor/logo.png"></ion-img>
    </ion-col>
  </ion-row>
  <br>

  <ion-list>
    <form (ngSubmit)="get_data(signin_form.value)" [formGroup]="signin_form">
      <ion-row>
        <ion-item>
          <ion-label color="primary">
            <ion-img src="assets/vendor/iconMobile.png"></ion-img>
          </ion-label>
          <ion-input type="tel" placeholder="Phone Number" formControlName="phone_number"></ion-input>
        </ion-item>
        <span class="error"
            *ngIf=" !signin_form.controls['phone_number'].valid &&
                    signin_form.controls['phone_number'].touched" >
            <img src="assets/vendor/iconError.png" alt="error icon" />
        </span>
        <span class="success"
              *ngIf="signin_form.controls['phone_number'].valid &&
                  signin_form.controls['phone_number'].touched">
          <img src="assets/vendor/iconTick.png" alt="success icon" />
        </span>

      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label color="primary">
            <ion-img src="assets/vendor/iconPassword.png"></ion-img>
          </ion-label>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <span class="error"
            *ngIf="!signin_form.controls['password'].valid &&
                    signin_form.controls['password'].touched">
                    <img src="assets/vendor/iconError.png" alt="error icon" />
        </span>
        <span class="success"
              *ngIf="signin_form.controls['password'].valid &&
                  signin_form.controls['password'].touched">
          <img src="assets/vendor/iconTick.png" alt="success icon" />
        </span>
      </ion-row>

      <div>
        <button class="sign_in_button" ion-button block [disabled]="!signin_form.valid">Sign in</button>
      </div>
      </form>
  </ion-list>

  <ion-row justify-content-space-between>
    <ion-col col-4>
        <a [navPush]="register">Sign Up</a>
    </ion-col>
    <ion-col col-8 text-right>
      <a href="#" (click)="presentModal()">Forgot Password</a>
    </ion-col>
  </ion-row>

</ion-content>