<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <h1 class="text-center">DROP Patient</h1>
  <br>
  <h2 class="text-center">Sign up</h2>

  <ion-list>
    <form (ngSubmit)="get_data(signup_form.value)" [formGroup]="signup_form">
      <!--<ion-item>
        <ion-label color="primary" floating>First Name</ion-label>
        <ion-input type="text" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Last Name</ion-label>
        <ion-input type="text" formControlName="last_name"></ion-input>
      </ion-item>-->
      <ion-item>
        <ion-label color="primary" floating>Phone number</ion-label>
        <ion-input type="tel" formControlName="phone_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button block round>Sign up</button>
      </div>

    </form>
    <p class="text-center">
      Have an account? <a (click)="goBacktoPreviousPage()">Sign in</a>
    </p>
  </ion-list>

</ion-content>