<ion-header>

  <ion-navbar>
    <button (click)='close()'>Back</button>
    <ion-title>forgot-password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <form (ngSubmit)="reset_password(forgot_password_form.value)" [formGroup]="forgot_password_form">
      <ion-item>
        <ion-label color="primary" floating>Phone number</ion-label>
        <ion-input type="tel" formControlName="phone_number"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button block round>Submit</button>
      </div>
    </form>
  </ion-list>
</ion-content>
