@@ -0,0 +1,84 @@
<ion-header no-border>
  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <br>
  <ion-list>
    <form (ngSubmit)="get_data(profile_form.value)" [formGroup]="profile_form">
      <ion-item>
        <ion-label color="primary" floating>First Name</ion-label>
        <ion-input type="text" formControlName="first_name"></ion-input>
      </ion-item>
      <div class="error"
          *ngIf="!profile_form.controls['first_name'].valid &&
                 profile_form.controls['first_name'].touched">
          First Name is required
      </div>
      <ion-item>
        <ion-label color="primary" floating>Last Name</ion-label>
        <ion-input type="text" formControlName="last_name"></ion-input>
      </ion-item>
      <div class="error"
          *ngIf="!profile_form.controls['last_name'].valid &&
                 profile_form.controls['last_name'].touched">
          Last Name is required
      </div>
      <ion-item>
        <ion-label color="primary" floating>Phone number</ion-label>
        <ion-input type="tel" formControlName="number"></ion-input>
      </ion-item>
      <div class="error"
          *ngIf="!profile_form.controls['number'].valid &&
                 profile_form.controls['number'].touched">
          Phone number is required
      </div>
      <ion-item>
        <ion-label color="primary" floating>City</ion-label>
        <ion-input type="text" formControlName="city_id"></ion-input>
      </ion-item>
      <div class="error"
          *ngIf="!profile_form.controls['city_id'].valid &&
                 profile_form.controls['city_id'].touched">
          City is required
      </div>
      <ion-item>
        <ion-label color="primary" floating>Gender</ion-label>
        <ion-input type="text" formControlName="gender"></ion-input>
      </ion-item>
      <div class="error"
          *ngIf="!profile_form.controls['gender'].valid &&
                 profile_form.controls['gender'].touched">
          Gender is required
      </div>
      <div padding>
        <button ion-button block round [disabled]="!profile_form.valid">Update Profile</button>
      </div>
    </form>
  </ion-list>

</ion-content>